.header {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 80%;
    height: 7rem;
    background-color: rgb(251, 250, 250);
    color: #1f1f20;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.logo-title{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content:flex-start;
    /* border: 2px solid black; */
    width: 40%;
}

.logo-div{
    height: 4.5rem;
    width: 4.5rem;
    /* margin-right: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
}

.logo-div img{
    /* border: 1px black solid; */
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); */
    height: 4rem;
    width: 4rem;
}


.title-nam{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    width: 50%;
    /* margin-left: 10rem; */
    font-size: 2rem;
    /* font-weight: bold; */
}

.options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Merriweather', serif;  
    color: "#81f0f7"
}

a{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding: 0.6rem;
    color: rgb(23, 22, 22);
}
